@page "/editor/{id}"
@rendermode InteractiveServer

<PageTitle>Editor</PageTitle>

<div class="grid grid-cols-12 h-screen">
	<div class="col-span-10">
		<LumexTextbox Type="@InputType.Text"
					Value="@diary.Title"
					  Label="Tiêu đề"
					  Placeholder="john@doe.com"
					  Class="w-full" />
		<textarea id="tiny" @bind="editorToolValue" class="form-control h-full" style="width: 100%;"></textarea>
	</div>
	<div class="col-span-2">
		<div class="">
			<div class="flex gap-2 justify-evenly mb-2 mt-2">
				<LumexButton Color="ThemeColor.Default" Variant="Variant.Ghost">Xem trước</LumexButton>
				<LumexButton Color="ThemeColor.Primary" Variant="Variant.Solid" OnClick="HandleSubmit">Cập nhật</LumexButton>
			</div>
			<LumexDivider />
			<div class="p-3">
				<h2 class="font-bold text-2xl text-center">Cài đặt nhật ký</h2>
				<div class="flex flex-col">
					<div class="border-b border-b-gray-300">
						<div class="flex gap-2 w-full cursor-pointer p-4 hover:bg-gray-200 rounded-lg" @onclick="@(() => ToggleExpansion("tag"))">
							<span class="@(_expanded["tag"] ? "rotate-180" : "")"><i class="fa-solid fa-caret-down"></i></span>
							<span>Nhãn</span>
						</div>
						<LumexCollapse As="ul"
									   Expanded="@_expanded["tag"]"
									   Class="ml-4">
							<div>
								<LumexTextbox Variant="InputVariant.Underlined" Type="@InputType.Email" Placeholder="Nhập nhãn dán" />
								<LumexListbox TValue="string">
									<LumexListboxItem>New file</LumexListboxItem>
									<LumexListboxItem>Edit file</LumexListboxItem>
									<LumexListboxItem>Share file</LumexListboxItem>
								</LumexListbox>
							</div>
						</LumexCollapse>
					</div>
					<div class="border-b border-b-gray-300">
						<div class="flex gap-2 w-full cursor-pointer p-4 hover:bg-gray-200 rounded-lg" @onclick="@(() => ToggleExpansion("publish"))">
							<span class="@(_expanded["publish"] ? "rotate-180" : "")"><i class="fa-solid fa-caret-down"></i></span>
							<span>Được xuất bản vào</span>
						</div>
						<LumexCollapse As="ul"
									   Expanded="@_expanded["publish"]"
									   Class="ml-4">
							<div>hello</div>
						</LumexCollapse>
					</div>
					<div class="border-b border-b-gray-300">
						<div class="flex gap-2 w-full cursor-pointer p-4 hover:bg-gray-200 rounded-lg" @onclick="@(() => ToggleExpansion("share"))">
							<span class="@(_expanded["share"] ? "rotate-180" : "")"><i class="fa-solid fa-caret-down"></i></span>
							<span>Chia sẻ</span>
						</div>
						<LumexCollapse As="ul"
									   Expanded="@_expanded["share"]"
									   Class="ml-4">
							<LumexCheckboxGroup>
								<LumexCheckbox>Công khai</LumexCheckbox>
								<LumexCheckbox>Cho phép bình luận</LumexCheckbox>
								<LumexCheckbox>Cho phép chia sẻ</LumexCheckbox>
							</LumexCheckboxGroup>
						</LumexCollapse>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter] public string id { get; set; }
	DiaryContext context = new DiaryContext();
	Diary diary = new Diary();
	public string editorToolValue;

	protected override void OnInitialized()
	{
		editorToolValue = id;
		if (!string.IsNullOrEmpty(id))
		{
			diary = context.Diaries
			.Include(d => d.Tags)
			.Include(d => d.Likes)
			.Include(d => d.Comments)
			.FirstOrDefault(d => d.Id == id);
			if (diary != null)
			{
				editorToolValue = diary.Content;
			}
		}
		else
		{
			diary = new Diary();
			editorToolValue = string.Empty;
		}
	}

	private Dictionary<string, bool> _expanded = new Dictionary<string, bool>()
	{
		{ "tag", true },
		{ "publish", true },
		{ "share", true},
	};

	private void ToggleExpansion(string key)
	{
		_expanded[key] = !_expanded[key];
	}

	private void HandleSubmit()
	{
		Console.WriteLine(editorToolValue);
	}
}

