@page "/"
@page "/dashboard"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Dashboard</PageTitle>

<div class="flex bg-gray-100 dark:bg-[#282135] h-full">
	@* sidebar *@
	<div class="w-64 border-r border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 p-4 flex flex-col">
		<div class="pb-2 border-b border-gray-200 dark:border-gray-700">
			<div @onclick="(() => NavigationToEditor(null))" class="text-center p-2 bg-yellow-200/70 rounded-full text-lg text-yellow-700 font-semibold cursor-pointer hover:scale-105 transition-all duration-200">
				<i class="fa-solid fa-plus"></i>
				Bài đăng mới
			</div>
		</div>
		<div class="flex flex-col gap-1">
			<div class="flex gap-2 items-center rounded-lg p-3 cursor-pointer hover:bg-gray-200 dark:text-white hover:dark:bg-gray-600">
				<i class="fa-solid fa-newspaper"></i>
				Bài đăng
			</div>
			<div class="flex gap-2 items-center rounded-lg p-3 cursor-pointer hover:bg-gray-200 dark:text-white hover:dark:bg-gray-600">
				<i class="fa-solid fa-chart-column"></i>
				Thống kê
			</div>
			<div class="flex gap-2 items-center rounded-lg p-3 cursor-pointer hover:bg-gray-200 dark:text-white hover:dark:bg-gray-600">
				<i class="fa-solid fa-message"></i>
				Nhận xét
			</div>

			<div class="border-b border-b-gray-300 dark:border-b-gray-600"></div>

			<a href="/view" class="flex gap-2 items-center rounded-lg p-3 cursor-pointer hover:bg-gray-200 dark:text-white hover:dark:bg-gray-600">
				<i class="fa-solid fa-arrow-up-right-from-square"></i>
				Xem nhật ký
			</a>
		</div>
	</div>

	@* content *@
	<div class="w-full bg-white p-8 flex flex-col gap-2 dark:bg-gray-800 dark:text-white">
		<div class="flex items-center justify-between">
			@* <select id="countries" class="w-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				<option selected>Tất cả</option>
				<option value="publish">Đã công bố</option>
				<option value="draft">Bài đăng nháp</option>
				<option value="trash">Thùng rác</option>
			</select> *@
			<LumexSelect TValue="string"
						 Label=""
						 Class="w-52"
						 Value="@(_selectedFilter)">
				@foreach (var filter in _filter)
				{
					<LumexSelectItem @key=@filter Value="@filter.Key" TextValue="@filter.Value" >@filter.Value</LumexSelectItem>
				}

			</LumexSelect>
			<div>Quản lý</div>
		</div>
		<div class="flex flex-col gap-4">
			@foreach (var diary in diaries)
			{
				<DiaryItem Title="@diary.Title"
						   OnClick="() => NavigationToEditor(diary.Id)" />
			}
		</div>
	</div>
</div>

@code {
	private Dictionary<string, string> _filter = new()
	{
		["all"] = "Tất cả",
		["publish"] = "Đã công bố",
		["draft"] = "Bài đăng nháp",
		["trash"] = "Thùng rác"
	};
	private string _selectedFilter = "all";


	DiaryContext context = new DiaryContext();
	List<Diary> diaries = new List<Diary>();
	protected override void OnInitialized()
	{
		getDiaries();
	}

	protected void getDiaries()
	{
		// Load diaries from the database
		diaries = context.Diaries.OrderByDescending(d => d.CreatedAt).ToList();
	}

	private void NavigationToEditor(string? id)
	{
		// Navigate to the editor page with the specified diary ID
		NavigationManager.NavigateTo($"/editor/{id}");
	}
}
