<div @onclick="OnClick" class="shadow-lg p-3 rounded-lg border border-gray-200 bg-white hover:bg-gray-200 dark:hover:bg-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white cursor-pointer">
	<div class="flex justify-between">
		<div class="flex gap-2 items-center">
			@* <img class="w-20 h-20 rounded-lg" src="https://mediawinwin.vn/upload/images/sanpham/bao-gia-chup-mon-an-dich-vu-chup-anh-do-an-chuyen-nghiep-5.JPG" alt="Alternate Text" /> *@
			<img class="w-20 h-20 rounded-lg" src=@(Diary.Thumbnail ?? "./images/default-image.webp") alt="Alternate Text" />
			<div class="flex flex-col gap-2">
				<h1 class="font-bold text-lg">@Diary.Title</h1>
				@if (Diary.PublicedAt == null)
				{
					<div class="text-gray-400 text-sm">Chưa xuất bản</div>
				}
				else
				{
					<div class="text-gray-400 text-sm">Đã xuất bản @Diary.PublicedAt?.ToString("dd/MM/yyyy")</div>
				}
				<div class="flex gap-2">
					@foreach (Tag tag in Diary.Tags)
					{
						<div class="rounded-full px-2 bg-gray-300 text-xs"><i class="fa-solid fa-tags"></i> @tag.Name</div>
					}
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-4 items-end justify-center">
			<div class="flex gap-4 items-center">
				@if (Diary.IsActive == 1)
				{
					@if (Diary.IsPublic == 1)
					{
						<span class="cursor-pointer text-xl text-gray-500 hover:text-blue-500" @onclick="OnHandlePublish" @onclick:stopPropagation><i class="fa-solid fa-reply"></i></span>
					}
					else
					{
						<span class="cursor-pointer text-xl text-gray-500 hover:text-blue-500" @onclick="OnHandlePublish" @onclick:stopPropagation><i class="fa-solid fa-paper-plane"></i></span>
					}
					<span class="cursor-pointer text-2xl text-gray-500 hover:text-blue-500"><i class="fa-solid fa-tag"></i></span>
					<span class="cursor-pointer text-xl text-gray-500 hover:text-red-500" @onclick="OnHandleTrash" @onclick:stopPropagation><i class="fa-solid fa-trash-can"></i></span>
					<span class="cursor-pointer text-xl text-gray-500 hover:text-blue-500" @onclick:stopPropagation><a href=@($"./view/{UserId}/{Diary.Id}") target="_blank"><i class="fa-solid fa-eye"></i></a></span>
				}
				else
				{
					<span class="cursor-pointer text-2xl text-gray-500 hover:text-blue-500" @onclick="OnHandleTrash" @onclick:stopPropagation><i class="fa-solid fa-clock-rotate-left"></i></span>
					<span class="cursor-pointer text-2xl text-gray-500 hover:text-blue-500" @onclick="OnHandleDelete" @onclick:stopPropagation><i class="fa-solid fa-eraser"></i></span>

				}
				<span class="w-8 h-8 bg-gray-500 rounded-full p-2"></span>
			</div>
			<div class="flex gap-2 items-center">
				<span class="cursor-pointer text-2xl text-gray-500 hover:text-blue-500"><i class="fa-solid fa-share-nodes"></i></span>
				<div class="flex items-center gap-1">
					<span class="text-sm text-gray-500">@Diary.Comments.Count</span>
					<span class="text-gray-500"><i class="fa-solid fa-message"></i></span>
				</div>
				<div class="flex items-center gap-1">
					<span class="text-sm text-gray-500">@Diary.Likes.Count</span>
					<span class="text-gray-500"><i class="fa-solid fa-heart"></i></span>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	[Parameter]
	public string UserId { get; set; }
	[Parameter]
	public Diary Diary { get; set; }
	[Parameter]
	public EventCallback OnClick { get; set; }
	[Parameter]
	public EventCallback OnHandlePublish { get; set; }
	[Parameter]
	public EventCallback OnHandleTrash { get; set; }
	[Parameter]
	public EventCallback OnHandleDelete { get; set; }

}
